body {
    margin: 0;
    background-color: var(silver-2);
    background-image: url("../images/background.png");background-size: cover; /* Makes the image cover the entire background */
    background-size: cover; /* Ensures the image always covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo-flexbox {
    display: flex;
    justify-content: center; /* Horizontally center the div */
    align-items: center; /* Vertically center the div */
    gap: 50px;
}

.logo-link-cropper {
    display: inline-block; 
    position: relative; 
    width: 100px;
    height: 100px; 
    overflow: hidden; 
    border-radius: 50%;
}

.instagram-logo {
    position: absolute;
    transform: scale(1.1);
    height: auto;
    width: 100%;
}

.image-cropper {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    z-index: 9;
}

.profile-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%) scale(2.25);
    height: auto;
    width: 100%;
}

:root{
    /* CSS HEX */
    --antiflash-white: #F0EEEFff;
    --silver: #AFADA9ff;
    --dark-green: #203625ff;
    --cal-poly-green: #3D492Bff;
    --lion: #A49373ff;
    --ecru: #BAAB85ff;
    --silver-2: #CCC8C4ff;
    --drab-dark-brown: #4E4F30ff;
    --dark-green-2: #162214ff;
    --dark-slate-gray: #3B4D4Cff;
}

.container-header {
    display: flex;
    background-color: var(--dark-green);
    gap: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: var(--antiflash-white);
    position: fixed;
    z-index: 10;
}

.container-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
    padding-top: 185px;
    gap: 20px;
}

/* .container-resume {
    display: flex;
    align-content: flex-start;
    align-items:flex-start;
    margin: 0;
    flex-direction: row;
    padding-bottom: 15em;
    /* padding-top: 125px; */
    /* gap: 10%;
} */

.container-description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    flex-direction: row;
    padding-top: 125px;
    padding-bottom: 300px;
    gap: 20px;
}

.item{
    height: 50px;
    font-size: 2em;
    text-align: center;
}
#item1 {
    background-color: var(--dark-green);
}

/* #resume-header{
    text-align: right;
    font-weight: bold;
    padding-left: 25%;
    font-size: 3em;
    background-color: var(--dark-green);
    /* padding-bottom: 5em; */
/* }
#resume-content{
    font-size: 1.5em;
    text-align: left;
    flex-wrap: wrap;
    background-color: var(--dark-slate-gray);
    padding-bottom: 5em;
} */

.container-resume-grid{
    display: grid;
    grid-template-rows: minmax(100px, 1fr) minmax(100px, 4fr) 10px;
    grid-template-columns: 1fr minmax(100px, 2fr) minmax(100px, 3fr) 1fr;
    grid-template-areas: 
        'blank-left skills skills-contents blank-right' 
        'blank-left experience experience-contents blank-right'
        'blank-bottom blank-bottom blank-bottom blank-bottom';
    grid-gap: 1em;
}

.skills-grid-item{
    grid-area: skills;
    font-weight: bold;
    font-size: 3.5em;
    justify-self: left;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.skills-content-grid-item{
    grid-area: skills-contents;
    font-size: 1.5em;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.exp-grid-item{
    grid-area: experience;
    font-weight: bold;
    font-size: 3.5em;
    justify-self: left;
    text-align: left;
    border-bottom: 2px solid black;
    padding-bottom: 10em;
}

.exp-content-grid-item{
    grid-area: experience-contents;
    font-size: 1.5em;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}