body {
    margin: 0;
    background-color: var(silver-2);
    background-image: url("../images/background.png");background-size: cover; /* Makes the image cover the entire background */
    background-size: cover; /* Ensures the image always covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    /* CSS HEX */
    --antiflash-white: #F0EEEFff;
    --silver: #AFADA9ff;
    --dark-green: #203625ff;
    --cal-poly-green: #3D492Bff;
    --lion: #A49373ff;
    --ecru: #BAAB85ff;
    --silver-2: #CCC8C4ff;
    --drab-dark-brown: #4E4F30ff;
    --dark-green-2: #162214ff;
    --dark-slate-gray: #3B4D4Cff;
}

a:link {
    color: var(--antiflash-white); /* Normal link color */
  }
  
  a:visited {
    color: var(--antiflash-white); /* Color of visited links */
  }
  
  a:hover {
    color: var(--silver-2); /* Color when the mouse hovers over the link */
  }
  
  a:active {
    color: var(--dark-slate-gray); /* Color when the link is being clicked */
  }


/*//////////////////////////////////////////////////////////////////////////
////////////////////////////// Header //////////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.container-header {
    display: flex;
    background-color: var(--dark-green);
    gap: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: var(--antiflash-white);
    position: fixed;
    z-index: 10;
}


/*//////////////////////////////////////////////////////////////////////////
////////////////////////////// Intro ///////////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.container-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
    /* padding-top: 185px; */
    gap: 20px;
    height: 100vh;
}

.container-description {
    display: flex;
    margin: 5%;
    flex-direction: row;
    padding-top: 125px;
    padding-bottom: 10em;
    gap: 20px;
}

/*//////////////////////////////////////////////////////////////////////////
/////////////////////// Photo Editing //////////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.logo-flexbox {
    display: flex;
    justify-content: center; /* Horizontally center the div */
    align-items: center; /* Vertically center the div */
    gap: 1em;
    margin-bottom: 2em;
}

.logo-link-cropper {
    display: inline-block; 
    position: relative; 
    width: 100px;
    height: 100px; 
    overflow: hidden; 
    border-radius: 50%;
}

.instagram-logo {
    position: absolute;
    transform: scale(1.1);
    height: auto;
    width: 100%;
}

.image-cropper {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    z-index: 9;
}

.profile-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%) scale(2.25);
    height: auto;
    width: 100%;
}


/*//////////////////////////////////////////////////////////////////////////
///////////////////////////// Resume Grid //////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.container-resume-grid{
    display: grid;
    grid-template-rows: minmax(100px, 1fr) minmax(100px, 4fr) 10px;
    grid-template-columns: 1fr minmax(150px, 2fr) minmax(100px, 3fr) 1fr;
    grid-template-areas: 
        'blank-left skills skills-contents blank-right' 
        'blank-left experience experience-contents blank-right'
        'blank-bottom blank-bottom blank-bottom blank-bottom';
    grid-gap: 1em;
}

.skills-grid-item{
    grid-area: skills;
    font-weight: bold;
    font-size: 3.5em;
    justify-self: left;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.skills-content-grid-item{
    grid-area: skills-contents;
    font-size: 1.5em;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.exp-grid-item{
    grid-area: experience;
    font-weight: bold;
    font-size: 3.5em;
    justify-self: left;
    text-wrap:wrap;
    /* text-align: left; */
    border-bottom: 5px solid black;
    padding-bottom: 10em;
}

.exp-content-grid-item{
    grid-area: experience-contents;
    font-size: 1.5em;
    border-bottom: 5px solid black;
    padding-bottom: 10px;
}


/*//////////////////////////////////////////////////////////////////////////
///////////////////////////// Default Items ////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/
  

.item{
    min-height: 50px;
    font-size: 2em;
    text-align: center;
}
#item1 {
    background-color: var(--dark-green);
}